.headerh1 {
  color: #fcd53f;
  font-family: "Atma", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  padding: 20px auto;
  margin-bottom: 20px;
}
.weather-main-elements {
  padding-bottom: 40px;
}
a {
  color: #fcd53f;
}
.weatherApp {
  background: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(144, 17, 105) 0%,
    rgb(51, 0, 131) 100.2%
  );
  color: #fff7d1;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  max-width: 700px;
  height: 400px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
}

.current-city-value {
  font-size: 28px;
  position: relative;
  right: 20px;
}
.date-day-input {
  position: relative;
  top: 80px;
  right: 180px;
  font-size: 18px;
}
.search-submit-input {
  display: block;
  margin: 0 auto;
  position: relative;
  border: black;
}
.search-input {
  font-size: 17px;
  background-color: #ebeaff;
  color: #605ea1;
  border-radius: 3px;
  border: none;
  width: 25%;
  line-height: 1.2;
  margin-left: 20px;
}
.search-button {
  background: #50057a;
  color: #eee4b1;
  border-radius: 5px;
  border-style: none;
  font-size: 17px;
  line-height: 1.2;
  margin-left: 10px;
}
.first-column-elements {
  width: 200px;
  height: 100px;
  border: none;
  padding: 20px;
  background-color: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(144, 17, 105) 0%,
    rgb(51, 0, 131) 100.2%
  );
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  right: -20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.second-column-elements {
  position: relative;
  right: 40px;
}

.sunrise-sunset {
  position: relative;
  top: 5px;
  left: 20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
}

.icon-condition {
  font-size: 100px;
  position: relative;
  top: -30px;
}
.text-condition {
  position: relative;
  top: 10px;
  right: 115px;
}
.temperature-input {
  position: relative;
  top: -20px;
  font-size: 80px;
}
.degree-unit {
  font-size: 32px;
  position: relative;
  top: -50px;
}
.other-condition-details {
  position: relative;
  right: 100px;
  border-left: 1px solid #6b56a0;
  padding-left: 30px;
}
footer {
  display: block;
  border-top: 1px solid #6b56a0;
  padding: 15px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #eee4b1;
}
