.headerh1 {
  color: #eee4b1;
  font-family: "Atma", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  padding: 20px auto;
  margin-bottom: 20px;
}
.weatherApp {
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  color: #fff7d1;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  max-width: 700px;
  height: 400px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
}

.current-city-value {
  font-size: 40px;
  position: relative;
  top: -30px;
}
.search-submit-input {
  display: block;
  margin: 0 auto;
  position: relative;
  border: black;
}
.search-input {
  font-size: 17px;
  background-color: #ebeaff;
  color: #605ea1;
  border-radius: 3px;
  border: none;
  width: 25%;
  line-height: 1.2;
  margin-left: 20px;
}
.search-button {
  background: #8b5dff;
  color: #eee4b1;
  border-radius: 5px;
  border-style: none;
  font-size: 17px;
  line-height: 1.2;
  margin-left: 10px;
}
.first-column-elements {
  width: 200px;
  height: 100px;
  border: none;
  padding: 20px;
  background-color: #8c22ed;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  right: -20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.date-day-input {
  position: relative;
  top: 45px;
  right: 120px;
  font-size: 18px;
}
.sunrise-sunset {
  position: relative;
  top: 5px;
  left: 20px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
}

.icon-condition {
  font-size: 100px;
  position: relative;
  top: -30px;
}
.text-condition {
  position: relative;
  top: 10px;
  right: 115px;
}
.temperature-input {
  position: relative;
  top: -20px;

  font-size: 80px;
}
.other-condition-details {
  position: relative;
  right: 70px;
  border-left: 1px solid #eee4b1;
  padding-left: 30px;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 45%;
  padding: 1em 0;
  color: #eee4b1;
}
